:root {
    --main-blue: #2180C0;
}

html {
    font-family: 'Sora', sans-serif;
}

.bg-color-secondary {
    background-color: #E8F4F5;
}

.bg-color-blue {
    background-color: var(--main-blue);
}

.header {
    padding: 0 0 0 0;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 10px 17px 10px;
    text-transform: uppercase;
    font-size: 10px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    background-color: yellow;
}

.navbar a:active {
    text-decoration: underline;
}

.active {
    border-bottom: 5px solid black;
}

.search-container {
    font-weight: 100;
    font-size: 10px;
    background-color: yellow;
    text-align: center;
    margin-top: -5px;
    padding: 45px 20px 60px 20px;
    margin-left: -10px;
    margin-right: -8px;
}

.input-with-logo-wrapper {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px #dcdcdc;
    border: 0;
    background-position: 99.9% center;
    background-size: 60px;
    background-repeat: no-repeat;
    background-color: white;
}

.input-with-logo-wrapper:hover {
    border: 2px #5DADE2 solid;
    box-shadow: none;
}

.input-with-logo {
    border: 0px;
    width: 95%;
    height: 100%;
}

.input-with-logo:focus {
    outline: none;
}

.container-recommend {
    max-width: 1920px;
    margin: auto;
    padding: 10px;
}

.container-recommend.row.col {
    margin: 20px;
}

.container-recommend .view-more {
    text-align: right;
}

.container-recommend img {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    border-radius: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.testimony {
    max-width: 500px;
    margin: auto;
}

.testimony-card {
    width: 100%;
}

.testimony-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.testimony-card.title {
    font-size: 14px;
}

.testimony-card.content {
    font-size: 12px;
}

.fa-star.icon {
    color: #ffdc0d;
}

.content-02 img,
.content-03 img {
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    object-fit: cover;
    width: 100%;
}

.regsiter-btn {
    background-color: white !important;
    color: var(--main-blue) !important;
    max-width: 500px;
    border: 0px;
    padding: 10px 15px;
    border-radius: 5px;
}

footer {
    background-color: #282829;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer p {
    font-size: 11px;
    padding: 5px 0 20px 0;
    margin-left: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: lighter;
}

footer a:hover {
    color: yellow;
}

footer h6 {
    color: #AFAFB0;
    font-weight: lighter;
    font-size: 12px;
}
